
.links a {
    font-family: 'Roboto';
        font-weight: 500;
    color: #212121;
font-size: 14px;
text-decoration: none;
line-height: 1.1;
    letter-spacing: 0.02em;
}

.permalink:focus {color: #2196F3}
.permalink:hover {
    color: #2196F3
}
.contact a {
    font-family: 'Roboto';
        font-weight: 500;
    color:#757575;
text-decoration: none;
font-size: 14px;}

body{color: #212121;
font-size: 16px;
font-weight: 700;
font-family: 'Roboto', 'Finlandica';}

.main {background-color: #2F303A;}
.tittle {
    font-size: 44px;
color: #FFFFFF;
text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase}

button {
    border: radius 4px;;
background-color: #2196F3;
color:#212121;
}

.description {
    font-size: 14px;
line-height: 1.5;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

p {
    color: #757575;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.03em;
line-height: 1.5;
letter-spacing: 0.03em;
text-transform:none}

h2 {
    font-size: 36px;
line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;}

footer {font-size: 14px;
color: #757575;
background: #2F303A}

address {
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
color: #FFFFFF;
line-height: 1.7;
    letter-spacing: 0.03em;}

.hand {cursor: hand;}

figcaption {
        font-weight: 500;
    font-size: 18px;
line-height: 2;
    letter-spacing: 0.03em;}

.click {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
background-color: #F5F4FA;
}

.click:hover{background-color: #2196F3;
color: #FFFFFF}

.logo {font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-decoration: none;

}

.color {color:#FFFFFF}
span {color:#000000}